/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    margin: 0;
    padding: 0;
}

header {
    background-color: #363636;
    color: #fff;
    
    padding: 20px ;
    display: flex;
    justify-content:space-between;
    align-items:center ;
    
}

header h1 {
    margin: 0;
}


/* imagens */
img{width: 25px;height: 25px;margin-left: 6px;}

#gmail:hover{width: 26px;height: 26px;margin-bottom: 5px;padding: 1px;}

#linkedin:hover{width: 26px;height: 26px;margin-bottom: 5px;padding: 1px;}

#github:hover{width: 26px;height: 26px;margin-bottom: 5px;padding: 1px;}




.portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 5px;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item {
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}




#links{text-align: center;}

a{text-decoration: none;color: black;}