/* Reset de estilos básicos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #116c6d;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilo dos botoes*/

#portifolio{
    background-color: #576c70;
}

#sobre{
    background-color: #576c70;
}


#contato{
    background-color: #576c70;
}



/* Estilo do cabeçalho */
header {
    background-color: #061b1e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo das seções */
section {
    padding: 2rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Estilo dos projetos no portfólio */
.projeto {
    margin-bottom: 2rem;
    margin-right: 3rem;
}

.projeto img {
    max-width: 100%;
    height: auto;
}

/* Estilo do rodapé */
footer {
    background-color: #1a2f33;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}




 /* Estilos para os ícones das redes sociais */
 .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

/* Estilos para os ícones */
.fa {
    display: inline-block;
    
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.fa:hover {
    background-color: #007bff;
}



/* reposividade dos projetos */
@media(min-width: 1200px){
    #portifolio{
        display: grid;
        grid-template-columns: auto auto;
    
    }
}






.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


/* estilizando os menus responsivos */
@media screen and (max-width: 930px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }

    #nav-item{
        display: none;
    }

    
    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button {
        margin-bottom: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open{
        display: block;
    }

    #nav-item-mobile{
        margin-bottom: 15px;
    }
}